body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

/* Header */
header {
  display: flex;
  position: fixed;
  background-color: black;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
}

header img {
  display: in-line flex;
  flex-shrink: 3;
  padding-left: 10px;
  padding-right: 700px;
  height: 50px;

}
nav {
  display: inline-flex;
  flex-shrink: 1;
  justify-content: space-around;
  align-items: center;
}
nav span a {
  color: seashell;
  text-decoration: underline;
  padding-left: 10px;
}
/*Mission*/
.mission {
  display: block;
  height: 700px;
  width: 1200px;
  margin: 0 auto;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
}

.mission-container {
  display: block;
  height: 10px;
  width: 1200px;
  padding-top: 300px;
}

.mission-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;

}

/* Tea of the Month */
.month {
  display: block;
  width: 1000px;
  height: 770px;
  margin: 0 auto;
  padding-top: 70px;
}
.month-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.item {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.item img {
  height: 200px;
  width: 300px;
}

.item span {
  padding-top: 10px;
}

/*Locations*/
.locations {
  display: block;
  width: 1200px;
  height: 500px;
  margin: 0 auto;
  padding-top: 70px;
  opacity: 0.9;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
}

.locations-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 15px 40px;
  align-items: center;
}

.locations-item {
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 275px;
  width: 300px;
  margin: 15px 40;
  background-color: black;
  opacity: 1;
}

/* Footer */
footer {
  text-align: center;
  height: 200px;
}

.copyright {
  padding-left: 20px;
  text-align: left;
}
